/node_modules
/public/hot
/public/storage
/public/storage/upload/documents
/public/uploads/personalPhotos
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.idea
.php_cs.cache
.vscode
.vagrant
composer.lock
/public/hot
/public/storage
/public/vendor
/storage/*.key
/storage/dcc-data/
/storage/framework/chache/data
/storage/framework/views
/storage/framework/sessions