.contentsection {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #fbfbfb;
  padding: 15px;
}



.maincontent {
  background: #ffffff none repeat scroll 0 0;
  border: 0px solid #ded4c5;

  margin-left: 10%;
  padding: 8px 15px;
  width: 80%;
  text-align: center;
  /* min-height: 1000px; */
  text-decoration: none;
}

.samepost {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
}
.samepost h2, .about h2 {
  border-bottom: 2px solid #e0d6c7;
  color: #ac7511;
  font-size: 25px;
  margin-bottom: 4px;
    margin-top: 20px;
  padding: 10px 10px 10px 0;
  font-family: sans-serif;
}

.samepost h5 a {

  color: #171a82;
  font-size: 12px;
  margin-bottom: 4px;
  margin-top: 20px;
  padding: 10px 10px 10px 0;
}
.answerpost h5 a {

    color: #171a82;
    font-size: 12px;
    margin-bottom: 4px;
    margin-top: 20px;
    padding: 10px 10px 10px 0;
}
.replypost h5 a {

  color: #171a82;
  font-size: 12px;
  margin-bottom: 4px;
  margin-top: 20px;
  padding: 10px 10px 10px 0;
}
.answer h2 {
  border-bottom: 5px solid #289393;
  color: #289393;
  font-size: 25px;
  margin-bottom: 53px;
  margin-top: 58px;
  padding: 10px 10px 10px 0;
}
.answer h3 {
  border-bottom: 5px solid #289393;
  color: #289393;
  font-size: 25px;
  margin-bottom: 53px;
  margin-top: 58px;
  padding: 10px 10px 10px 0;
}

.samepost h2 a{
  color: #ac7511;
  text-decoration: none;
  font-size: 18px;
}
.samepost h1{
  color: #ac7511;
  text-decoration: none;
  font-size: 13px;
  margin-top: 66px;
  border: 0 solid gainsboro;
  line-height: 1.5;
  font-weight: bold;
  width: 200px;
}
.answerpost {
  margin-bottom: 60px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  border-top: 2px solid #e0d6c7;
}
.replypost {
  margin-bottom: 60px;
  margin-left: 120px;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
  border-top: 2px solid #e0d6c7;
}

.answerpost h1{
  color: #ac7511;
  text-decoration: none;
  font-size: 13px;
  margin-top: 66px;
  border: 0 solid gainsboro;
  line-height: 1.5;
  font-weight: bold;
  width: 200px;
}



/*  samepost manu  edit delete*/
#menu{
  padding:0;

  text-align: left;
  float: right;




}
#menu li{
  float:left;
  border-right:1px solid #605B5B;
  border-left:1px solid #2B2A2A;
  position:relative;

}

#menu li:last-child{
  border-right:none;
}
#menu li:first-child{
  border-left:none;
}
#menu li a{
  color: #000000;
  text-align: left;
  text-decoration:none;
border-left-style: none;
  padding:1px 27px;
  display:block;
  transition:0.3s all ease;
}
#menu li a:hover{
  background: #ffffff;
}
#menu li p{
  color: #000000;
  text-align: left;
  text-decoration:none;
  background: #ffffff;
  padding:1px 27px;
  display:block;
  transition:0.3s all ease;
}
#menu li p:hover{
  background: #ffffff;
}

#menu li ul{
  list-style-type:none;
  padding:0;
  position:absolute;
  left:-99999px;
  /*transition:0.5s all ease;*/

  margin-top: -3px;
}
#menu li:hover ul{
  left:0;
}

#menu li ul li{
  float:none;
  border-right:none;
  border-left:none;
  /*/border-top:1px solid #605B5B;  */
  /*border-bottom:1px solid #2B2A2A; */
  width:150px;
}






.samepost {
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
}

.samepost h2{
  border-bottom: 2px solid #e0d6c7;
  color: #ac7511;
  font-size: 25px;
  margin-bottom: 4px;
  margin-top: 20px;
  padding: 10px 10px 10px 0;
}
.samepost h2 a {
  color: #ac7511;
  text-decoration: none;
  font-size: 18px;
}


ul, li {
  margin: 0px;
  list-style-type: none;
}

.clear {
  overflow: hidden;
}
.samepost h6 a {
  color: #0d6770d1;
  text-decoration: none;
  font-size: 19px;
  padding: 30px;
  margin-left: -20px;
  margin-top: 5px;
  font-family: monospace;
}


.samepost h4,.about h4 {
  font-weight: normal;
  margin-bottom: 11px;
  margin-top: 14px;
}
.samepost h4 a, .about h4  a{text-decoration:none;color:#3399FF;}
.samepost img {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ebb450;
  float: left;
  margin-right: 15px;
  padding: 0px;
  width: 80px;
  height: 76px;
  border-radius: 50%;
  display: block;
}

.answerpost img {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ebb450;
  float: left;
  margin-right: 15px;
  padding: 0px;
  width: 80px;
  height: 76px;
  border-radius: 50%;
  display: block;
}

.replypost img {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #ebb450;
  float: left;
  margin-right: 15px;
  padding: 0px;
  width: 80px;
  height: 76px;
  border-radius: 50%;
  display: block;
}

.samepost p {
    margin-top: 14px;
    font-size: 16px;
    font-variant: initial;
    font-family: inherit;
    line-height: 20px;
    text-align: justify;
    text-decoration: none;
  margin-bottom: 17px;
}
.answerpost p {
  margin-top: 54px;
  font-size: 15px;
  font-variant: initial;
  font-family: inherit;
  line-height: 20px;
  font-style: inherit;
  text-align: justify;
  text-decoration: none;
  margin-bottom: 17px;
}


.report  {
  text-align: center;
  margin: auto;
  display: block;
  font-size: 28px;
  font-family: fantasy;
  padding: 4px 8px;
  margin-top: 10px;
  text-decoration: none;
}
.report:hover{color: #db80e1;}
