



.pictureProfile {

    flex: 0 0 33.333333%;
    max-width: 33.333333%;
    margin-left: -15px;
    margin-top: 22px;
}
.pictureProfile {
position: relative;
width: 100%;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
}

.userProfile {

    flex: 0 0 66.666667%;
    max-width: 82.666667%;
    margin-left: 15px;
    margin-top: 22px;
}

.userProfile{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}
.card {
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
}

.card {

    margin-bottom: 30px;
    margin-top: 30px;

    color: #333333;
    background: #fff;
    width: 100%;
}
.card {
    font-size: .875rem;
}

.card h2 {
    width: 320px;
    height: 43px;
    border-radius: 15px;
}
.card h2 {
    border: 0px solid #cfc5b6;
    border-radius: 3px;
    margin-bottom: 5px;
    padding: 5px;
    width: 462px;
    height: 45px;
    font-size: large;
    margin-left: 108px;
    font-style: inherit;
}